table{
    margin-top: 130px;
    border:2px solid transparent;
    border-radius: 20px;
    table-layout: fixed;
    word-wrap: break-word;
    
}
td a:hover{
    text-decoration: none;
    color: red;
}

