<!DOCTYPE html>
<html lang="en">
{% extends 'home.html' %}
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap\bootstrap-4.6.0-dist\css\bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <!-- slick CSS only -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />

<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>home</title>
</head>

{% block content %}
<br><br><br><br><br><br><br>
  <h2 align='center'><b>Table of Contents</b></h2>
  <table class="table table-striped" style="background-color:white;border-radius:20px;font-size:22px;">
  <thead>
    <tr>
      <th scope="col">Serial No.</th>
      <th scope="col">Branch</th>
      <th scope="col">Content</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="sciences" class="s2">Physics</a></td>
      <td rowspan='2'><a href="sciences" class="s2">Introduction</a><br><a href="sciences?page=2" class="s2">Newton's Laws</a><br></td>
      
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="sciences?page=5" class="s2">Chemistry</a></td>
      <td rowspan='2'><a href="sciences?page=5" class="s2">Introduction</a><br><a href="sciences?page=6" class="s2">Chemical reactions</a><br></td>
      
    </tr>
	<tr>
      <th scope="row"></th>
      <td></td>
      
      
    </tr>
	<tr>
      <th scope="row">3</th>
      <td><a href="englishs?page=8" class="s2">Biology</a></td>
      <td rowspan='2'><a href="englishs?page=9" class="s2">Introduction</a></td>
      
    </tr>
  </tbody>
</table>

 <a href="{% url 'sciences' %}"><button class="btn btn-success" style="margin-left:580px;" >Start Your Course</button></a>
  
  {% endblock %}
<div class="footer"><br><br>
  <address>
  <font size="5px">Email Us: query@cetpainfotech.com</font><br>
  <font size="3px">D-58, Red FM Road, Sector 2, D Block, Noida, Uttar Pradesh 201301,India</font><br><br><br>
  <b>All Rights Reserved 2021</b>
  </address>
  
</div>

</body>
</html>